<div class="page-container">
  <div class="page-content">
    <h2>Chats</h2>

    @if (isOfflineMode) {
    <div class="offline-banner">
      Offline
    </div>
    }

    <div class="search-container">
      <form class="search-bar">
        <input type="text" name="searchText" [(ngModel)]="searchText"
          placeholder="Search" />

        <button type="submit" class="search-button">
          <mat-icon>search</mat-icon>
        </button>
      </form>

      <button class="plus-button" type="button" (click)="onCreateGroup()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <div class="chat-list">
      @for (chat of filteredChats; track chat.chatid) {
      <app-chat-list-item [chat]="chat"
        [draftText]="getDraftText(chat.chatid)"
        (chatClicked)="openChat($event)"></app-chat-list-item>
      } @empty {
      <p class="empty-text">No chats found</p>
      }
    </div>

    <app-bottom-navbar></app-bottom-navbar>
  </div>
</div>
