<div class="register-page">
  <div class="brand">DA<span>vai</span></div>

  <button mat-icon-button class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
    @if (getFieldError('userid')) {
      <p class="field-error">{{ getFieldError('userid') }}</p>
    }
    <mat-form-field appearance="outline" class="full">
      <input matInput placeholder="HSE userid" formControlName="userid" />
    </mat-form-field>

    <div class="row">
      <div class="row-field">
        @if (getFieldError('firstName')) {
          <p class="field-error">{{ getFieldError('firstName') }}</p>
        }
        <mat-form-field appearance="outline">
          <input matInput placeholder="First name" formControlName="firstName" />
        </mat-form-field>
      </div>

      <div class="row-field">
        @if (getFieldError('lastName')) {
          <p class="field-error">{{ getFieldError('lastName') }}</p>
        }
        <mat-form-field appearance="outline">
          <input matInput placeholder="Last name" formControlName="lastName" />
        </mat-form-field>
      </div>
    </div>

    @if (getFieldError('nickname')) {
      <p class="field-error">{{ getFieldError('nickname') }}</p>
    }
    <mat-form-field appearance="outline" class="full">
      <input matInput placeholder="Nickname" formControlName="nickname" />
    </mat-form-field>

    @if (getFieldError('password')) {
      <p class="field-error">{{ getFieldError('password') }}</p>
    }
    <mat-form-field appearance="outline" class="full">
      <input matInput type="password" placeholder="Password" formControlName="password" />
    </mat-form-field>

    @if (getFieldError('repeatPassword')) {
      <p class="field-error">{{ getFieldError('repeatPassword') }}</p>
    }
    <mat-form-field appearance="outline" class="full">
      <input
        matInput
        type="password"
        placeholder="Repeat your password"
        formControlName="repeatPassword"
      />
    </mat-form-field>

    <p *ngIf="errorMessage" class="error-text">
      {{ errorMessage }}
    </p>

    <button mat-flat-button class="register-btn" type="submit">REGISTER</button>
  </form>
</div>
